@import url("https://use.typekit.net/wyl7rnz.css"); /* Ligurino */
@import url("https://use.typekit.net/wyl7rnz.css");/* report-school */

:root {
  --background-color:#D43F38;
  --header-color:#222222;
  --subheading-color:#ff9a4d;
  --text-color: #222222;
}

body {
  background: var(--background-color);
  padding: 150px;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  border: 10px solid black;
}

.intro {
  margin: 1.5rem;
}

h1 {
  color: var(--header-color);
  font-family: "ligurino", sans-serif;
  font-weight: 700;
  font-size: xx-large;
  font-style: normal;
}

h2 {
  color: var(--subheading-color);
  font-family: "ligurino", sans-serif;
  font-weight: 400;
  font-size: larger;
  font-style: oblique;
}

ul {
  margin-top: 1.5rem;
}

ul > li {
  display: inline-block;
  margin: 0.5rem 1.10rem;
}

.navbar ul li a{
  margin-top: 2rem;
  font-family: "report-school", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  width: 100%;
  color: var(--text-color);
}

.navbar ul li a:hover {
  color: var(--subheading-color);
  text-decoration: underline;
  transition: ease-in-out 0.7s;
}

li > a:hover {
  color: var(--subheading-color);
  font-size: x-large;
  text-decoration: underline;
  transition: ease-in-out 0.5s;
}
